.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container-imagem{
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container-botao:checked ~ .lista-menu{
    display: block;
}
.lista-menu-titulo,.lista-item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu-titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu-link{
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
}
.container-botao{
    display: none;
}